<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Stage St Groupe</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="components/reveal.js/css/reveal.min.css">
        <link rel="stylesheet" href="components/reveal.js/css/theme/default.css" id="theme">
    </head>
    <body>
        <div class="reveal">
            <!-- Any section element inside of this container is displayed as a slide -->
            <div class="slides">
                <section>
                    <h1>Présentation Stage St Groupe</h1>
                    <h3>Abelhamid Henni</h3>
                </section>
                <section>
                    <h1>Slide 1</h1>
                    <h3>Sous-titre slide 1</h3>
                </section>
                <section>
                    <h1>Slide 2</h1>
                    <h3>Sous-titre slide 2</h3>
                </section>
            </div>
        </div>
        <script src="components/reveal.js/js/reveal.min.js"></script>
        <!-- Socket.io client-->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/main.js"></script>
    </body>
</html>